/* webkit下滚动条样式 */

::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: #eee;
}

::-webkit-scrollbar-thumb {
    height: 30px;
    background-color: rgb(179, 175, 176);
    border-radius: 5px;
}

:hover::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

/* IE浏览器下 */

* {
    /*三角箭头的颜色*/
    scrollbar-arrow-color: rgb(179, 175, 176);
    /*滚动条滑块按钮的颜色*/
    scrollbar-face-color: #eeeeee;
    /*滚动条整体颜色*/
    scrollbar-highlight-color: #fff;
    /*滚动条阴影*/
    scrollbar-shadow-color: #ccc;
    /*滚动条轨道颜色*/
    scrollbar-track-color: #fff;
}
