/* 书籍列表样式 */
.book-list {
    padding: 10px 0;

    &>ul {
        &>li {
            cursor: pointer;
            display: inline-block;
            width: 170px;
            height: 200px;
            margin: 10px;
            background-color: #ececec;
            padding: 15px;
            font-weight: 400;

            &:hover {
               text-decoration: underline;
            }

            &>h5 {
                font-size: 14px;
                line-height: 1.6em;
                color: #f96c58;
                font-weight: 800;
            }

            &>div {
                font-size: 12px;
                line-height: 2em;
                padding-top: 10px;
            }
        }
    }
}
