/* 书籍列表样式 */
.book-list {
    padding: 10px 0;

    &>ul {
        &>li {
            cursor: pointer;
            display: inline-block;
            width: 170px;
            height: 250px;
            margin: 10px;
            background-color: #ececec;
            padding: 15px;
            font-size: 0;
            background-size: auto 100%;
            background-position: center;
            background-repeat: no-repeat;

            &:hover {
                box-shadow: 2px 3px 9px 0px #a19696;
                outline: 1px solid white;
            }

            // 高等代数
            &.Higher-Algebra {
                background-image: url('../asset/Higher-Algebra.png');
            }

        }
    }
}
