/* 书籍列表样式 */
.book-list {
    padding: 10px 0;

    &>ul {
        &>li {
            cursor: pointer;
            display: inline-block;
            width: 170px;
            height: 250px;
            margin: 10px;
            padding: 15px;
            font-size: 0;
            background-size: auto 90%;
            background-position: center;
            background-repeat: no-repeat;
            transition-property: background-size;
            transition-duration: 200ms;

            &:hover {
                background-size: auto 100%;
            }

            // 高等代数
            &.Higher-Algebra {
                background-image: url('./image/Higher-Algebra.png');
            }

            // 数学分析
            &.Mathematical-Analysis {
                background-image: url('./image/Mathematical-Analysis.png');
            }

            // 概率论与数理统计
            &.Probability-Theory-And-Mathematical-Statistics {
                background-image: url('./image/Probability-Theory-And-Mathematical-Statistics.png');
            }

            // 英语语法
            &.English-Grammar {
                background-image: url('./image/English-Grammar.png');
            }

            // 算法设计与分析
            &.Algorithm-Design-And-Analysis {
                background-image: url('./image/Algorithm-Design-And-Analysis.png');
            }

        }
    }
}

/* 页脚 */
footer {
    text-align: center;
    padding: 10px 0 20px 0;
    min-width: 1100px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px -5px 2px;

    &>p {
        line-height: 40px;
        height: 40px;
        color: gray;
        font-size: 14px;
    }

    &>a {
        display: inline-block;
        padding: 0 15px;
        line-height: 30px;
        height: 30px;
        color: #999999;
        font-size: 12px;
        border: 1px solid #E3E3E5;
        border-radius: 45px;

        &:hover {
            border: 1px solid #0a93e2;
            color: #0a93e2;
        }
    }
}
